*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-2019-corporate-annual-meeting-ceremony-background-design-meeting-of-the-image_73850.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
}

.flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container {
  width: 40%;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 20px;
}

.container h1, h2 {
  padding: 20px;
}

.container input, button {
  padding: 10px;
}
